@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
}

.container-bg {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(#5329c7, #4c0783);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(1.5);
}

.container {
  display: flex;
  width: 100%;
  height: 50%;
}

.left-top,
.right-top {
  flex: 1;
  position: absolute;
}

.left-top {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 50%;
  top: -5%;
}
.right-top {
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 10%;
}

.heading-top,
.content-list {
  color: #fff;
}

.heading-top {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-right: 35px;
}
.content-list {
  padding-left: 1.2rem;
}

.content-list li {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.content-list p {
  font-weight: 200;
  font-size: 1rem;
  white-space: nowrap;
  margin-bottom: 14px;
}

.form-container {
  height: auto;
  background: #f1f0f0;
  min-width: 440px;
  padding: 30px 25px;
  clip-path: polygon(87% 0, 100% 12%, 100% 100%, 0 100%, 0 0);
}

.form-heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.input-fields {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field label {
  font-weight: 500;
  font-size: 1rem;
}

.field input,
textarea,
select {
  border: 1px solid #828282;
  padding: 10px 15px;
  border-radius: 10px;
  color: #6d6d6d;
}

/* for date field*/
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit {
  width: 100%;
  background-color: #5329c7;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 25px;
  border-radius: 56px;
  font-size: 1.1rem;
  font-weight: 700;
}

.inline-inputs {
  display: flex;
  gap: 10px;
}

.inline-inputs input,
.inline-inputs select {
  flex: 1;
  min-width: 0;
  padding: 8px;
  box-sizing: border-box;
}
.radio-group {
  display: flex;
  flex-direction: column;
}
.options {
  padding-top: 8px;
  display: flex;
  gap: 20px;
}
.options > label {
  font-size: 0.9rem;
}
.options input[type="radio"] {
  display: none;
}
.custom-radio {
  width: 20px;
  height: 20px;
  top: 4px;
  border: 2px solid #8012c0;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.options input[type="radio"]:checked + .custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #8012c0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#error-message-date,
#error-message-email,
#error-message-dept {
  color: #eb5757;
  display: none;
  font-size: 0.8rem;
  font-weight: 600;
}
.card-section {
  height: 80vh;
}

.card-section .section-intro {
  background: linear-gradient(
    89.95deg,
    #5776cc 0.01%,
    #9830cc 24.84%,
    #4c0783 47.29%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 2.5rem;
  margin-top: 20px;
  white-space: nowrap;
}

.heading-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 2%;
}

.card {
  position: relative;
  width: 560px;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay1,
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 20px;
  transition: 0.3s ease-in-out;
}
.overlay1 {
  background: linear-gradient(transparent, #5329c7);
}
.overlay2 {
  background: linear-gradient(#5329c78e, #5329c7cb);
}
.overlay1 h3,
.overlay2 h3 {
  padding-bottom: 20px;
  font-weight: 800;
}

.overlay1 h3::before {
  content: "Default State";
}
.overlay1 p::before {
  content: "This is default statue of the card, use an image as <img> tag and add gradient overlay and text over it.";
}

.card:hover .overlay1 h3::before {
  content: "Hover State";
}
.card:hover .overlay1 p::before {
  content: "This is the hover state of the first card; both cards should appear like this when the user hovers over them.";
}

.overlay2 h3::before {
  content: "Hover State";
}
.overlay2 p::before {
  content: "This is the hover state of the first card; both cards should appear like this when the user hovers over them.";
}

.card:hover .overlay2 h3::before {
  content: "Default State";
}
.card:hover .overlay2 p::before {
  content: "This is default statue of the card, use an image as <img> tag and add gradient overlay and text over it.";
}

@media (max-width: 768px) {
  .container-bg::before {
    transform: scaleX(2.3);
  }
  .container {
    flex-direction: column;
    height: auto;
  }
  .left-top,
  .right-top {
    width: 100%;
    height: 50vh;
  }
  .left-top {
    top: 6%;
  }
  .right-top {
    top: 60%;
  }
  .content-top {
    align-items: flex-start;
    bottom: 10%;
    padding: 1.5rem;
    width: 400px;
  }
  .heading-top {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .content-list {
    padding-left: 1.2rem;
  }
  .content-list li {
    font-size: 0.8rem;
  }
  .content-list p {
    font-size: 0.7rem;
    white-space: normal;
  }
  .form-container {
    width: 60%;
    min-width: 280px;
    height: auto;
  }
  .form-heading {
    font-size: 1rem;
  }
  .input-fields {
    padding-top: 10px;
    gap: 15px;
  }
  .field {
    gap: 3px;
  }
  .field label {
    font-weight: 500;
    font-size: 0.8rem;
  }
  .field input,
  textarea,
  select {
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 0.7rem;
  }
  #submit {
    padding: 10px 15px;
    border-radius: 56px;
    font-size: 0.8rem;
  }
  .inline-inputs input,
  .inline-inputs select {
    padding: 5px;
  }
  .custom-radio {
    width: 18px;
    height: 18px;
  }
  .card-section {
    margin-top: 50%;
  }
  #error-message-date,
  #error-message-email,
  #error-message-dept {
    font-size: 0.7rem;
  }
  .heading-wrapper {
    align-items: center;
    width: 100%;
    padding-left: 0;
  }
  .card-section .section-intro {
    font-size: 1.2rem;
  }
  .card-wrapper {
    flex-direction: column;
  }
  .card {
    width: auto;
    height: 250px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .content-top {
    align-items: center;
    padding-left: 0%;
  }
  .heading-top {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .content-list {
    padding-left: 1.4rem;
  }
  .content-list li {
    font-size: 1.1rem;
  }
  .content-list p {
    font-size: 0.8rem;
    white-space: normal;
  }
  .form-container {
    width: 90%;
    min-width: 360px;
  }
  .input-fields {
    padding-top: 10px;
    gap: 20px;
  }
  .field {
    gap: 4px;
  }
  .field label {
    font-weight: 500;
    font-size: 0.9rem;
  }
  .heading-wrapper {
    width: 100%;
    justify-content: flex-start;
    padding-left: 4rem;
  }
}
